body{
    background-image:linear-gradient(#e73a4e,#f8e858) ;
    margin: 0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
button{
    font-family: Poppins;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 100px;
    height: 40px;
    border-radius: 25px;
    border-style: solid;
    background: black;
    opacity: 0.8;
}
button:hover{
    font-family: Poppins;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 100px;
    height: 40px;
    border-radius: 25px;
    border-style: solid;
    background-color: black;
    opacity: 0.8;
    font-weight: 900;

}
.txt:hover{
    background-image: -webkit-gradient( linear, left top, right top,  color-stop(0, #e73a4e), color-stop(1, #f8e858));
    background-image: gradient( linear, left top, right top,  color-stop(0, #e73a4e), color-stop(0, #f8e858));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0px 10px 10px 10px;
    float: right;
    position: fixed;
    right: 30px;
}
li {margin-left: 30px;
    padding: 0;
    display: inline;
}
.nav{
    background-color: black;
    height: 70px;
    padding-top: 3px;
}
.icon{
    float: left;
}
nav{
    display: inline;
}
p{
    font-family: Poppins;
    font-size: 20px;
    color: black;
    line-height: 1.2;
    padding: 20px 20px 20px 20px;
}
h3{
    font-family: Poppins;
    color: black;
    line-height: 1.2;
    font-size: 45px;
    padding: 20px 20px 20px 20px;

}
.credits{
    background-color: black;
    height: 250px;
    padding: 20px 20px 20px 20px;
}
#hd{
    color: black;
    font-size: 3px;
}
#hd:hover, #hd:active{
    font-size: 40px;
    color: white;
    font-family: 'Pinyon Script', cursive;
}
#htg{
    color: black;
    font-size: 3px;
}
#htg:hover, #htg:active{
    font-size: 40px;
    color: white;
    font-family: 'Pinyon Script', cursive;
}
#sp{
    color: black;
    font-size: 3px;
}
#sp:hover, #sp:active{
    font-size: 40px;
    color: white;
    font-family: 'Pinyon Script', cursive;
}
#km{
    color: black;
    font-size: 3px;
}
#km:hover, #km:active{
    font-size: 40px;
    color: white;
    font-family: 'Pinyon Script', cursive;
}