body{
    background-image:linear-gradient(#e73a4e,#f8e858) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
img.sm{
    width: 50px;
}
#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 95%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin: 20px 20px 20px 20px;
    border-radius: 50px;
}
a{
    text-decoration: none;
}
li{
    width: 300px;
    background-color: white;
    background-attachment: fixed;
    font-family: 'Hind', sans-serif;
    color: #524e4e;
    border-radius: 25px;
    padding: 30px 30px 30px 30px;
    margin: 50px 30px 50px 30px;
    display: inline-block;
}
.name{
    background-image: -webkit-gradient( linear, left top, right top,  color-stop(0, cyan), color-stop(1, lime));
    background-image: gradient( linear, left top, right top,  color-stop(0, #e73a4e), color-stop(0, #f8e858));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 30px;
    font-weight: 900;
}
ul{
    list-style: none;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 25px;

}
#gender{
    width: 50px;
}
.nav{
    background-color: black;
    height: 70px;
    padding-top: 3px;
    margin-bottom: 200px;
}
