<html>
    <head>
        <title>Cinder: ERROR!</title>
        <link rel="icon" href="Images/favicon.png">    
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    </head>
    <style>
        h1{
            font-family: Poppins;
            display: flex;
            justify-content: center;
            margin-top: 15%;
            font-size: 36px;
            margin-left: 30px;
            margin-right: 30px;
        }
        body{
            background-image:linear-gradient(#e73a4e,#f8e858) ;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
        }
        .nav{
            background-color: black;
            height: 70px;
            padding-top: 3px;
        }
        center{
            font-family: Poppins;
        }
    </style>
    <body text="black">
        <div class="nav">
            <a href="/index" style="text-decoration: none;"><img src="Images/favicon.png" alt="logo" height="70px" width="70px" style="float: left;"></a>
        </div>
        <center><h1><p>CONGRATULATIONS! YOU HAVE MADE  PROFILE ON CINDER FOOLISHLY GIVING US YOUR PERSONAL INFORMATION. CLICK <a href="/login" style="color: red;">HERE</a> TO LOGIN WITH THE EMAIL YOU USED WHILE CREATING YOUR PROFILE AND WALLOW.</p></h1> <br> <br>
        </center>
    </body>
</html>