<html>
    <head>
        <title>Cinder: Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="image" content="Images/logo.png">
        <meta name="og:image" content="Images/logo.png">
        <meta name="description" content="A place to upload yourself on the internet have a virtual experience of school but just the drama 
                not the studying. It is a place where you view information about your school mates
                sorted according to their class and section with links to their social media (if they choose
                to give it out) so you can get to know them better.">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="CSS/index.css">
        <link rel="icon" href="Images/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            <a href="/index" style="text-decoration: none;"><img src="Images/noway.png" alt="Icon" class="icon" height="70px" width="190px"></a>
            <form method="GET">
                <ul>
                    <li style="display: inline;"><a href=""><button formaction="/create-profile"><div class="txt">Create Profile</div></button></a></li>
                    <li style="display: inline; padding-right: 30px;"><a href=""><button formaction="/login"><div class="txt">Log In</div></button></a></li>
                </ul>
            </form>
        </div>
        <br><br><br>
        <center><img src="Images/logo.png" alt="Logo"> </center>
        <br><br> 
        <center>
            <h3 class="brr">What is Cinder?</h3>
            <p>
                A place to upload yourself on the internet have a virtual experience of school but just the drama 
                not the studying. It is a place where you view information about your school mates
                sorted according to their class and section with links to their social media (if they choose
                to give it out) so you can get to know them better. Essentially, a safe tinder in the words
                of one of Cinder's creators. (Disclaimer: the previous sentence was a joke please do not take i seriously
                 it is just a place to make friends in your school like one normally would but is not able to because of
                  the pandemic.)
            </p>
        </center>
        <br><br>
        <center>
            <h3 class="brr">About Us</h3>
            <p>Nobody really cares so move on.</p>
        </center>       
        <br><br><br><br><br><br><br><br><br>
        <div class="usercount">
            <center>
                <span class="updown">WE NOW HAVE</span>
                <br>
                <span class="users"><%= users %></span>
                <br>
                <span class="updown">USERS</span>
            </center>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="credits">
            <center><span style="font-size:28px ;color: white; text-align: center; font-family: 'Great Vibes', cursive;" class="boo">
                Try and find the names of the creators by hovering the cursor or tapping around the space below. There are 3 of us.
            </span></center>
            <br><br>
            <span id="hd">Hiten Dalmia</span>
            <br><br><br>
            <center><span id="htg">Yes, we're playing hard to get.</span></center>
            <br><br><br>
            <span id="sp" style="float: right;">Shreyas P. Manu</span>
            <br><br><br>
            <center><span id="km">Kedar Mulay</span></center>
        </div>
    </body>
</html>