<html>
    <head>
        <title>Cinder: Home</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="CSS/index.css">
        <link rel="icon" href="Images/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="nav">
            <nav>
                <img src="Images/favicon.png" alt="Icon" class="icon" height="70px" width="70px">
                <form method="GET">
                    <ul>
                        <li style="display: inline;"><a href=""><button formaction="/create-profile"><div class="txt">CREATE PROFILE</div></button></a></li>
                        <li style="display: inline;"><a href=""><button formaction="/login"><div class="txt">LOG IN</div></button></a></li>
                    </ul>
                </form>
            </nav>
        </div>
        <br><br><br><br><br>
        <center><a href="/index" style="text-decoration: none;"><img src="Images/logo.png" alt="Logo"></a></center>
        <br><br><br><br><br><br><br>
        <h3>About Us</h3>
        <p>Nobody really cares so move on.</p>
        <br><br><br><br><br><br><br>
        <h3>What is Cinder?</h3>
        <p>
            A place to upload yourself on the internet have a virtual
             experience of school but just the drama not the studying
            , ironic is it not. Essentially a place where you view information about your school mates 
            sorted according to their class and section with links to their social media (if they choose
             to give it out) so you can get to know them better. Essentially, a safe tinder in the words
             of one of Cinder's creators (Shreyas Plankyl). 
        </p>
        <br><br><br><br><br><br><br><br><br>
        <div class="usercount">
            <center><span class="updown">WE NOW HAVE</span><br><span class="users"><%= users %></span><br><span class="updown">USERS</span></center>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="credits">
            <center><span style="font-family: 'Hind', sans-serif; font-size:24px ;color: white; text-align: center;">Try and find the names of the creators by hovering the cursor ot tapping around the space below. There are 3 of us.</span></center> <br><br>
            <span id="hd">Hiten Dalmia</span> <br><br><br>
            <center><span id="htg">Yes, we're playing hard to get.</span></center><br><br><br>
            <span id="sp" style="float: right;">Shreyas Plankyl</span><br><br><br>
            <center><span id="km">Kedar Mulay</span></center>
        </div>
    </body>
</html>