<html>
    <head>
        <title>Cinder: Log In</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="CSS/login.css">
        <link rel="icon" href="Images/favicon.png"> 
        <script src="login-back.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body link="red" alink="red" vlink="red">
        <div class="nav">
            <a href="/index" style="text-decoration: none;"><img src="Images/favicon.png"  height="70px" width="70px" alt="logo" style="float: left;"></a>
        </div>
        <div class="container">
            <form action="/log" method="POST">
                <div style="align-items : center; color: #262626; font-size: 30px;  font-family: Poppins ;display: block;font-weight: 500;">
                    <label>
                    LOG IN
                    </label>
                </div>
                <br><br><br><br>
                <label for="u" style="font-family: Poppins; font-size: 20px;">Enter the email ID you used <br> when creating your profile.</label>
                <br><br><br>
                <input id="u" class="email" type="email" name="email" placeholder="Registered email ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email ID'"  >
                <br><br><br>
                <center><button><span class="txt">LOG IN</span></button></center>
                <br><br><br>
                <span style="font-family: Poppins;font-size: 13.5px;padding-right: 35px;padding-left: 35px;opacity: 0.8;">Don't have a profile yet? <a href="/create-profile">Click here</a> to create one.</span>
            </form>
        </div>
        <script>
            const input = document.querySelector('.email') 
            input.focus()
        </script>
    </body>
</html>