<html>
    <head>
        <title>Cinder: ERROR!</title>
        <link rel="icon" href="Images/favicon.png">    
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    </head>
    <style>
        h1{
            font-family: Poppins;
        }
        body{
            background-image:linear-gradient(#e73a4e,#f8e858) ;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .nav{
            background-color: black;
            height: 70px;
            padding-top: 3px;
        }
    </style>
    <body text="black" topmargin="250px">
        <div class="nav">
            <a href="/index" style="text-decoration: none;"><img src="Images/favicon.png" alt="logo" style="float: left;"></a>
        </div>
        <center><h1>YOU DO NOT HAVE A PROFILE REGISTERED WITH THAT EMAIL. <br>
        CREATE A NEW PROFILE OR RECHECK YOUR EMAIL ADRESS.</h1></center> <br> <br>
        Click <a href="/create-profile">here</a> to create a profile.

    </body>
</html>